.svg {
  width:100%;
  height:100%;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;

    &:hover {
    opacity:0.5;
  }
}

.yourLoc {
  top:20px;
  right:0;
  position:absolute;
  background-image:url('../img/svg/yourLoc.svg');
  background-size:100% 100%;
  width:20%;
  height:30px;
}

.routeMap {
  background-image:url('../img/svg/routeMap.svg');
  background-size:100% 100%;
}

.svg-bike-switch {
  background-image:url('../img/svg/bike.svg');
}

.svg-walk-switch {
  background-image:url('../img/svg/walk.svg'); 
}

.routeBtn {
  background-image:url('../img/svg/route.svg');
}

.loopBtn {
  background-image:url('../img/svg/loop.svg'); 
}

.hamburger {
  background-image:url('../img/svg/hamburger.svg');
  background-size:100% 100%;
  margin-right:6px;
  height:100%;
  width:40px;
}

.walkProg.completed:before {
  background-image:url('../img/svg/walkProg.svg'); 
  background-position:50%;
  background-repeat:no-repeat;

}

.bikeProg.completed:before {
  background-image:url('../img/svg/bikeProg.svg');
  background-position:50%;
  background-repeat:no-repeat;
}

.routeProg.completed:before {
  background-image:url('../img/svg/routeProg.svg'); 
  background-position:50%;
  background-repeat:no-repeat;
}

.timeProg.completed:before {
  background-image:url('../img/svg/timeProg.svg');
  background-position:50%;
  background-repeat:no-repeat;
}

.navProg.completed:before {
  background-image:url('../img/svg/navProg.svg');
  background-position:50%;
  background-repeat:no-repeat;
}

.loopProg.completed:before {
  background-image:url('../img/svg/loopProg.svg');
  background-position:50%;
  background-repeat:no-repeat;

}

/// TURN DIRECTIONS SVG's //////////////////////////////////////////////

.routeChoice {
  float: left;
  background-image:url('../img/svg/selRoute.svg');
  background-size:100% 100%;
  width:20%;
  height:55px;
  margin:auto;
  cursor: pointer;
}

.favorite {
  float: right;
  width:20%;
  background-image:url('../img/svg/notSelFav.svg');
  background-size:100% 100%;
  height:55px;
  margin:auto;
  cursor: pointer;
}


.rightTurn {
  position:absolute;
  float: left;
  background-image:url('../img/svg/turnRight.svg');
  background-size:100% 100%;
  background-position:50%;
  width:10%;
  height:20px;
}

.leftTurn {
  position:absolute;
  float: left;
  background-image:url('../img/svg/turnLeft.svg');
  background-size:100% 100%;
  background-position:50%;
  width:10%;
  height:20px;

}

.straight {
  position:absolute;
  float: left;
  background-image:url('../img/svg/straight.svg');
  background-size:100% 100%;
  background-position:50%;
  width:10%;
  height:20px;

}

.parkIcon {
  position:absolute;
  float: left;
  background-image:url('../img/svg/park.svg');
  background-size:100% 100%;
  background-position:50%;
  width:10%;
  height:20px;

}

.locIcon {
  position:absolute;
  float: left;
  background-image:url('../img/svg/locIcon.svg');
  background-size:100% 100%;
  background-position:50%;
  width:10%;
  height:20px;

}

.greenBoob {
  position:absolute;
  float: left;
  background-image:url('../img/svg/greenBoob.svg');
  background-size:100% 100%;
  background-position:50%;
  width:10%;
  height:20px;

}


.parkBtn {
  background-image:url('../img/svg/park.svg');
  background-size:100% 100%;
  background-position:50%;
  width:10%;
  height:20px;

}

.openInfo {
  z-index:10000000000;
  position:absolute;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  background-image:url('../img/svg/downChev.svg');
  background-size:100% 100%;
  background-position:50%;
  width:100%;
  height:10px;
}

@media #{$medium-and-down}{
  .openInfo{
    margin-top: 35px;
  }
}

.openInfo.active {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}


.logo {
  top:5%;
  left:0;
  right:0;
  margin:auto;
  width:70%;
  height:100px;
  position:absolute;
  background-image:url('../img/svg/logo.svg');
  background-size:100% 100%;
  background-position:50%;
  z-index:50;
}

.noParkImg {
  width:100%;
  height:200px;
  background-image:url('../img/svg/noPark.svg');
  background-size:100% 100%;
  background-position:50%;
  z-index:50;
}

.restart {
  width:25px;
  height:25px;
  background-image:url('../img/svg/restart.svg');
  background-size:100% 100%;
  background-position:50%;
  transform:translate(0, 50%);

}

.star {
  width:25px;
  height:25px;
  background-image:url('../img/svg/star.svg');
  background-size:100% 100%;
  background-position:50%;
  transform:translate(0, 50%);

}


.share {
  width:25px;
  height:25px;
  background-image:url('../img/svg/share.svg');
  background-size:100% 100%;
  background-position:50%;
  transform:translate(0, 50%);
}

.logoWhite {
  top:5%;
  left:0;
  right:0;
  margin:5% auto;
  width:70%;
  height:100px;
  background-image:url('../img/svg/whiteLogo.svg');
  background-size:100% 100%;
  background-position:50%;
  z-index:50;
}

.theTeam {
  width:100%;
  height:300px;
  background-image:url('../img/svg/theTeam.svg');
  background-size:contain;
  background-repeat:no-repeat;
  background-position:50% 0%;
}

.favGo {
  opacity:0;
  position:absolute;
  bottom:50px;
  right:-5px;
  float: right;
  width:40px;
  height:40px;
  background-image:url('../img/svg/goFav.svg');
  background-size:contain;
  background-repeat:no-repeat;
  background-position:50% 0%;
}

.favDelete {
  opacity:0;
  position:absolute;
  bottom:0;
  right:-5px;
  width:40px;
  height:40px;
  background-image:url('../img/svg/delete.svg');
  background-size:contain;
  background-repeat:no-repeat;
  background-position:50% 0%;
}

.walkGrey {
  width:100%;
  height:300px;
  background-image:url('../img/svg/walkGrey.svg');
  background-size:contain;
  background-repeat:no-repeat;
  background-position:50% 0%;
}

.bikeGrey {
  width:100%;
  height:300px;
  background-image:url('../img/svg/bikeGrey.svg');
  background-size:contain;
  background-repeat:no-repeat;
  background-position:50% 0%;
}




