html, body, .table-container{
  height: 100%;
}

// @media (orientation: landscape) {
//   body {
//     -webkit-transform: rotate(90deg);
//     -moz-transform: rotate(90deg);
//     -o-transform: rotate(90deg);
//     -ms-transform: rotate(90deg);
//     transform: rotate(90deg);
//     width:100vh;
//     height:100vh;
//   }
// }

/* Navigation Styles Below */

.table-container {
  display: table;
}
.table-container .table-row {
  height: 100%;
  display: table-row;
}
.table-container .table-row .table-col {
  display: table-cell;
  float: none;
  vertical-align: top;
}
.fixed-nav{
  @extend .z-depth-1;
}
/* Map and map control styles below */
#map {
  z-index:2;
  height: calc(100% - 56px) !important;
  .btn{
    color:white !important;
  }
}
@media #{$medium-and-up}{
  #map{
    height: calc(100% - 64px) !important;  
  }
}
#map-container{
  .map-start-btn{
    z-index:50;
    position: absolute;
    top:25%;
    left: 0;
    right: 0;
    margin:0 auto;
  }
  .user-profile{
    position: absolute;
    top: 5%;
    right: 10%;
  }
}

/* Top Nav Bar Style */
#top-nav{
  overflow: hidden;
}

/* Selection dialog column padding */
.right-padding{
  padding-right:10px;
}

/* Typeahead Styles */

/* Overriding the materialize input to allow more padding down below */
.distContainer{
  .input-field{
    box-shadow: 0 62px 0 0 $secondary-color-light !important;
  }
} 

/* Since typeahead wraps the input elements in this span */
span.twitter-typeahead{
  width: 100%;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 100%;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}
.tt-suggestion p {
  margin: 0;
}
/* Loading screen styles */

/* 
  Modify the containing main row to
  listen to the vertical alignment hack.
 */
#containerRow{
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;  
  /* Where's this 1% of overflow coming from????? */
  overflow: hidden;
}

/*
 * Maximum height of container must be 
 * 100% - (height of navbar)
*/



#green_loader{
  top:  0px;
  left: 0px;
  height: 100%;
  width:  100%;
  position: absolute;
  background:$secondary-color;
  z-index: 4;
  .loading_content{
    img{
      max-width: 100%;
    }
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 33.333%;
    color:#fff;    
  }  
}

.hidden{
  display:none !important;
}

.max-width{
  width: 100%;
}

/* Hack! Did we fuck up the grid?? */

/// TURN DIRECTIONS STYLES ///////////////////////////////////////////////////////

#routeInfo {
  ul{
    width:60%;
    float: left;
    display:inline-block;
    margin:auto;
    li {
      text-align:center;
    }
    .left {
      width:50%;
    }
    .centerLine {
      float: left;
      width:50%;
      border-right:3px solid $text-color;
    }
  }
}

#turnList{
  z-index: 50;
}

.turnDirect {
  height:90%;
  ul {
    margin:0;
    position:relative;
    height:100%;
    text-indent:none;
    text-decoration:none;
    list-style-type:none;
    .ui-menu-item {
      position:relative;
      color:$text-color;
      display: inline-block;
      height:11.25%;
      width:100%;
      font-family:Roboto;
      font-weight:300;
      font-size:15px;
      border-bottom:1px solid $text-color;

      li {
        vertical-align: middle;
      }
      .menuitem {
        margin-left:15%;
      }
      a {
        border:none;
      }
    }
  }
}
.ui-menu-item:after {
  content: "";
  display:block;
  width:15%;
  height:2px;
  background-color:white;
  position: absolute;
  top:-1px;
}

.ui-menu-item:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
}



#listTop {
  height:10%;
}

.destLbl {
  color:$text-color;
  font-family:Roboto;
  font-size:15px;
  font-weight:300;
  &.activator {
      cursor: pointer;
    }
}

.distLbl {
  font-family:Roboto-Slab;
  font-weight:400;
  color:$text-color;
  font-size:18px;
  font-weight:700;
}

.timeLbl {
  font-family:Roboto-Slab;
  font-weight:400;
  color:$text-color;
  font-size:18px;
  font-weight:700;
}
.HeaderRoute {
  background-color:#fff;
  -moz-border-radius: 0px;
  -webkit-border-radius: 15px 15px 0px 0px;
  border-radius: 15px 15px 0px 0px; 
}

/// TIME SLIDER STYLES ////////////////////////////////////////////////////

/// TOGGLE SWITCHING FOR ROUTE SETUP//////////////////////////////////////////////////////////////////////////

.routeSel {
  height: calc(100% - 56px) !important;
  z-index: 2;
  /* So it sits tightly under the navbar */
  display: block;
  position: relative;
  padding:0 !important;
  ul {
    height:100%;
  }
  .nxtBtn {
    width:100%;
    height:10%;

  a {
    height:100%;
    width:100%;
    }
  }
}
@media #{$medium-and-up}{
  .routeSel{
    height: calc(100% - 64px) !important;  
  }
}
.current {
  position:absolute;
  top:0;
}

.introTag {
  // why was this here??
  // margin-bottom:10%;
  font-size:1.5em;
  color:#a1a1a1;
  font-spacing:1px;
  font-family:Roboto;
  letter-spacing:1.2px;
  font-size:1.3em;
  font-weight:100;
  text-align:center;
}

.heightFix {
  height:90%;
}

.col.s2 {
    padding:0 !important;
}

.optSwitch {
  height:90%;

  a {
    padding:5% 0%;
    height:50%;
    width:100%;
  }
  // To vertically center fa elements underneath 
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  .fa{
    position: relative;
    top: 50%;
    transform: translateY(-50%);    
  }
}

// TIME SELECTION ----------------------------------------------------

#timeSlider {
  position:relative;
}

#submitRoute {
  left:0;
  right:0;
  margin:auto;
}
// TIME SELECTION ----------------------------------------------------
#minRange {
  font-size:1.0em;
  font-weight:300;
  text-align:center;
  color: #000;
  width:100%;
  height:50px;
}
#timeRange {
  font-size:1.0em;
  font-weight:300;
  font-family:Roboto-Slab;
  font-size:2.0em;
  font-weight:500;
  text-align:center;
  color: #000;
  color:$primary-color;
  width:100%;
  height:50px;
}


#drag-container{
  padding-top: 6vh;

}

#resizer {
  // -webkit-transform: translate(0px, 0px);
  // transform: translate(0px, 0px);
  width: 40px;
  height: 40px;
  cursor: move;
  z-index: 10;
  position:absolute;
  bottom:0px;
  transform: translateY(-50%);

}

/* HEIGHTS OF THE TWO BELOW HAVE TO BE THE SAME!*/
#drag-cont{
  height:60%;
  position:relative;
  min-height:1px;
}

#resize-cont{
  -webkit-mask-box-image: url("../img/svg/routeMap.svg");
  mask-border: url("../img/svg/routeMap.svg");
  background-color:$empty-slider-color;
  height:60%;
  // width:60%;
  position: relative;
  // past this point it gets choppy.
  max-width:100%;
}

#resizable-element {
  user-select: none;
  background-color: $secondary-color;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  width: 100%;
  height:0%;
  /* This makes things *much* easier */
  box-sizing: border-box;
  z-index: 5;
  position:absolute;
  bottom:0px;
  left:0;
}

#resizable-element-two:after {
  user-select: none;
  border-top:4px solid $primary-color;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  width: 100%;
  height:10%;
  /* This makes things *much* easier */
  box-sizing: border-box;
  z-index: 5;
  position:absolute;
  bottom:0px;
  left:0;
}


//  DESTINATION SELECTION ////////////////////////////////////////////////

.distContainer {
  height:100%;
  position: relative;
  padding: 20% 0 50% 0;
}

/// BUTTTON STYLES /////////////////////////////////////////////////////////

.btn-primary {
  @extend .btn;
  border-radius:5px !important;
  position: absolute !important;
  bottom:0;
  left:5%;
  font-family:Roboto;
  font-size:1.2rem;
  font-weight:200;
  letter-spacing:2rem;
  box-shadow:0px 3px 0px #aa4660 !important;
  background-color:$primary-color;

  &:hover {
    background-color:$primary-color;
  }
}

.btn-secondary {
  @extend .btn;
  border-radius:5px !important;
  position: absolute !important;
  bottom:0;
  right:5%;
  font-weight:100;
  box-shadow:0px 3px 0px #1a9169 !important;
  background-color:$secondary-color;

  &:hover {
    background-color:$secondary-color;
  }
}

.btn-facebook{
  color:#fff;
  width:100%;
  font-weight:100;
  font-family:Roboto;
  background-color:#527ebb;
  box-shadow:0px 3px 0px #3a5d87;
  border-radius: 5px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  outline: 0;
  vertical-align: middle;
  // Gets rid of tap active state
  -webkit-tap-highlight-color: transparent;

  .fa {
    transform:translate(0, 25%)
  }

  &:hover {
    @include transition(background-color .3s);
    background-color:#3a5d87;
  }
}


.btn-google {
  color:#fff;
  width:100%;
  font-weight:100;
  font-family:Roboto;
  background-color:#e85749;
  box-shadow:0px 3px 0px #d82908;
  border-radius: 5px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  outline: 0;
  vertical-align: middle;
  // Gets rid of tap active state
  -webkit-tap-highlight-color: transparent;

    .fa {
    transform:translate(0, 25%)
  }

  &:hover {
    @include transition(background-color .3s);
    background-color:#d82908;
  }
}

#accountName {
  padding-top:20px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:0px;

  border-bottom:1px solid $text-color;
    h2 {
      width:70%;
      float: right;
      font-size:1.5rem;
      color:$text-color;
      font-family:Roboto;
      font-weight:300;
      margin:0;
      translate:0 50%;
    }

}
.profileImage {
  width:50px;
  border-radius:50%;
}

.profileOpt {
  font-size:1.5rem;
  font-weight:400 !important;
  font-family:Roboto;
  color:$primary-color;
  padding:20px;
  font-weight:400;
  border-bottom:1px solid $text-color;
}

.loginStyles {
  padding:20px;
  border-bottom:1px solid $text-color;
}


.footer {
  font-family:Roboto;
  font-size:1rem;
  font-weight:200 !important;
  padding:20px;
  color:$primary-color;
}




// styles for form active ///////////////////////////////////

  label.active {
    left:0;
    top:0;
    font-family:Roboto-Slab;
    font-weight:700;
    font-size:1.3em;
    color:$secondary-color;
    @include transform(translateY(-60%));
  }


/* Styles for Directions Tab */
#directionsContainer{
  min-height: 95px;
  max-height: 100%;
  position: absolute;
  bottom: 0px;
  padding:0px;
  box-shadow:none;
}

@media #{$small-and-down} {
    /* Styles for Directions Tab */
    #directionsContainer{
      min-height: 95px;
      max-height: 100%;
      position: absolute;
      bottom: 0;
      padding: 0;
    }    
}

/// PARK PROFILE PAGE ///////////////////////////////////////////////

body,
.google-expando__card{
  display: flex;flex-direction: column;align-items: center;justify-content: center;
}

// Google Expando Config
$google_expando_radius: 2px;
$google_expando_whsp: 48px;

$google_materialshadow_ambient: (
  shadow1: 0 1px 1.5px rgba(0, 0, 0, 0.12),
  shadow2: 0 1px 1px rgba(0, 0, 0, 0.24)
);

$google_materialshadow: (
  ambient: map-values($google_materialshadow_ambient)
);

$google_expando_proportions: (
  icon_size: 24px,
  card_size: 340px
);

$google_expando_transition: (
  transition_one: .2s all cubic-bezier(.4,0,.2,1)
);


// Google Expando Styles !Required!
.google-expando {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &--wrap {
    position: relative;
    width: 100%;
    height:100%;
  }
}

.google-expando__icon {
  margin-top:5%;
  border-radius: 90%;
  box-shadow: map-get($google_materialshadow, ambient);
  height: 5em;
  width: 5em;
  padding: $google_expando_whsp/8;
  transition: map-values($google_expando_transition);
  z-index: 11;
  text-align: center;
  color: white;

  &:hover {
    cursor: pointer;
  }
}

.google-expando__card {
  background-image:url('../img/svg/ParkModeShape.svg');
  background-size:contain;
  background-position:center center;
  background-repeat:no-repeat;
  border-radius: $google_expando_radius;
  height:245px;
  max-width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  transform: scale(0) translateZ(0);
  transition: map-values($google_expando_transition);
  transform-origin: top center;
  z-index: 10;
  opacity: 0;
}


@media #{$medium-only}{
  .google-expando__card.active {
   height:400px !important;
  }
}




// Google Expando State
// .google-expando__icon.active {
//   transform: scale(1.1);
// ;
// }

.google-expando__card.active {
  height: 245px;
  transform: scale(1) translateZ(0);
  opacity: 1;
}


// Google Expando Utility Helpers
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.expandedInfo {
  overflow:scroll;
  display:none;
  position:absolute;
  background-color:white;
  height: 0px;

  left:0px;

  /*
    Limit max-height via JS to: 
    $(".HeaderRoute").offset().top - ($(".openInfo").offset().top + $(".openInfo").outerHeight(true)) 
  */

  width:100%;
  padding:0% 5%;
    h4 {
      text-align:center;
      margin-bottom:5%;
      font-size:1.2rem;
      font-family:Roboto-Slab;
      color:$text-color;
      font-weight:600 !important;
    } 

  ul {
    width:100%;
    display:inline-block;
    padding-bottom:5%;
    border-bottom:2px solid $text-color;
    text-align:center;
    font-family:Roboto;
    font-size:1.2em;
    font-color:$text-color;
    font-weight:100;
    li {
      display:inline-block;
      float: left;
      width:50%;
    }
  }
}

.imgGrid {

}

.square {
    float: left;
    position: relative;
    width:31.25%;
    padding-bottom : 30% !important; /* = width for a 1:1 aspect ratio */
    margin:1%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}

hr {
    margin-top:5%;
}

.slider.parkMenu {
  z-index:10;
  text-align:center;
  height:100%;

    h3 {
      margin:0;
      line-height:130%;
      // white-space: nowrap;
      font-size:1.4rem;
      font-family:Roboto-Slab;
      color:$secondary-color;
      font-weight:600 !important;
    }
}


.slider-frame{
  width: auto !important;
}
#slider-list{
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.carouselNav{
  width: 100%;
  height: 100%;
  position: relative;
}

.absolute-center{
  // nuka-carousel attempts to put top 50% on it.
  top: 0 !important;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.slider-decorator-0 {
  @extend .absolute-center;

  background-color:#fff;
  background-image:url('../img/svg/downChev.svg');
  background-size:100% 100%;
  background-position:50%;
  width:20px;
  height:20px;
    :focus {
    background-color:#fff;
  }

}

.slider-decorator-1 {
  @extend .absolute-center;

  background-color:#fff;
  background-image:url('../img/svg/downChev.svg');
  background-size:100% 100%;
  background-position:50%;
  width:20px;
  height:20px;

    button:selected {
    background-color:#fff;
  }
}

.slider-decorator-2 {
  display:none;
}



// page navigation and container styles ///////////////////////////////////////




.staticPageContainer{
  display:block;
  width:25%;
  height: 100%;
  padding:0 30px;
  position: absolute;
  top:64px;
  right:0;
  background: white;
  z-index: 12;
  -webkit-transition: width 2s;
  transition: width 2s;

  p {
    line-height:1.3rem;
    font-weight:300;
    font-family:Roboto;
    color:$text-color;
  }

  h3 {
    font-size:1.5rem;
    line-height:1.5rem;
    font-family:Roboto-Slab;
    font-weight:400;
    color:$text-color;
    text-align:center;

  }

  .logo {
    margin-bottom:5%;
    position:inherit;
  }


}
.staticTitle {
  margin:0px 0px 5% 0px;
  line-height:100%;
  color:$primary-color;
  font-family:Roboto;
  font-weight:400;
  font-size:1.5rem;

}

.containerMask::after{
    width: 50px;
    // height: $navbar-height;
    height: 70px;
    content: "";
    top: 0px;
    display: block;
    position: fixed;
    background: white;
}
@media #{$small-and-down} {
  .containerMask::after{
    // height: $navbar-height-mobile;
    height: 61px;
  }  
  .staticPageContainer{
    top:0;
    width:100%;

    .staticTitle {
      margin-top:20px;
      margin-left:10px;
    }
  }
}  

@media #{$medium-only} {
  .staticPageContainer{
    width:50%;
  }
}

/* Back Button Styles */
.pushRight{
  margin-left: 50px;
}
#backBtn{
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  background: url("../img/svg/downChev.svg") no-repeat !important;
  z-index: 3;

  width: 25px;  
  height: 25px;
  top: 15px;
  
  position: absolute;  
  &:hover{
    cursor: pointer;
  }
}
@media #{$small-and-down}{
  #backBtn{
    height: 25px;
  }  
}


/// acordian -----------------------------------
.section {
  position: relative;
  width: 100%;
  button {
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    height: 2em;
    width: 2em;
    outline: 0;
    border: 0;
    background-color:#fff;
    background-image:url('../img/svg/downChev.svg');
    background-size:100% 100%;
    background-position:50%;
    pointer-events: none;
        -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  }
}

.section.open {
  button {
      -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  }
  .articlewrap {
    height: 120px;
  }
    .favDelete {
      opacity:1;
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
  }
      .favGo {
      opacity:1;
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
  }
}

.articlewrap {
  height: 0;
  overflow: hidden;
  transition: all .2s ease-in;
}

.sectionhead {
  font-family:Roboto;
  font-weight:300;
  color:$text-color;
  height:50px;
  width: 90%;
  overflow: hidden;
  background: white;
  cursor: pointer;
  text-overflow: ellipsis;
  padding:0 1em;
  padding-right: 2.1em;
}

.article {
  font-family:Roboto;
  font-weight:300;
  color:$primary-color;
  width:90%;
  padding: 1em;
  line-height: 1.3;
}

#content{
  /* drag-target has a z-index of 998 */
  z-index: 999;
}

#sidenav-overlay{
  z-index: 1000 !important;
}


