api/node_modules
pathfinder/api-do/node_modules
frontend/node_modules
frontend/.module-cache
frontend/.sass-cache
frontend/bundle.js
frontend/materialize/sass/materialize.css
frontend/materialize/sass/materialize.css.map
.DS_Store
