<!DOCTYPE html>
<html>
  <head>
    <title>React Server Side Rendering Example</title>
  </head>
  <body>
    <div id="react-root"></div>
    <script src="http://fb.me/react-with-addons-0.13.1.js"></script>
    <script src="http://fb.me/JSXTransformer-0.13.1.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <!-- <script src="/components.jsx" type="text/jsx"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
    <script src="/tutorial.jsx" type="text/jsx"></script>

    <% if (passport && passport.user) { %>
      <div>
        Hello
        <%= passport.user.displayName %>
      </div>
    <% } %>

    <div id="content" name="help"></div>

  </body>
</html>
